/* https://windicss.org/utilities/general/colors.html */

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track {
  /* background: #1c1c1e; */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}
